.LoginPage{
    background-color:#fff;;
    padding: 50px;
    width: 37%;
    margin: auto;
    text-align: center
}

.bg{
    /* background-color:#3d454d; */
    background: linear-gradient(#4CA1AF,#C4E0E5) ;
    padding-top: 30px;
}


.form-control1{
    background-color: #f0f6f7 !important;
}


label{
    margin-bottom: 2px !important;
}


.change_password{
    margin-top: 130px;
    color:#3ea0d1 !important;
}

.change_password:hover {
    color: #3ea0d1;
    text-decoration: underline;
}

::placeholder {
    color: #929aa1 !important;
   font-size: 14px;
   font-style: italic;
  }
  

  input.input.form-control:focus{
      border: 1px solid #3ea0d1 !important
  }


  .form_name1{
      border: red !important;
  }
  




/* --------------xx-----------xx---------On hover left Drawer Open ---------------xx------------xx---------*/


.makeStyles-drawerClose-9:hover{
    width:240px !important
}

.makeStyles-drawerOpen-8{
  box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.14);
}

.makeStyles-drawerClose-9{
  box-shadow: 0 0.46875rem 2.1875rem rgba(8,10,37,.03), 0 0.9375rem 1.40625rem rgba(8,10,37,.03), 0 0.25rem 0.53125rem rgba(8,10,37,.05), 0 0.125rem 0.1875rem rgba(8,10,37,.03);

}

  .SpinSetting{
    background-color:#f7b924;
    border-radius: 50px;
    padding: 8px;
    height: 50px;
    width: 50px;
    display: flex;
    color:#212529;
    cursor: pointer;
  }

.SpinSetting1{
    margin: auto;
    animation: settingrotate 2s infinite linear;
}


@keyframes settingrotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  .fa-rocket{
    transform:rotate(-44deg)
  }

  /* .MuiAppBar-colorPrimary {
    color :#535bd8 !important;
    background-color: #fafbfc !important;
  } */


  .testing{
   margin: 9px;
   padding: 0px !important;
  }
  
  .testing .testing1:hover{
    background-color: #e0f3ff !important;
    opacity: 1
  }
  .testing .testing1{
    
    border-radius: 5px;
    max-height: 31px !important;
    opacity: 0.7;
  }
  .testing .Heading{
    
    border-radius: 5px;
    max-height: 99px !important;
    opacity: 0.7;
  }
  .testing .Heading:hover{
    background-color: #e0f3ff !important;
   
    opacity: 1
  }


  .Mui-selected{
    font-weight: bold !important;
    background-color: #e0f3ff !important
  }

  .MuiListItemText-root{
     margin-top: 0px !important; 
    margin-bottom: 2px !important; 
    padding: 10px !important;
    text-indent: 12px;
  }

  .MuiListItem-root{
    padding: 6px 12px  !important;
    margin: 0 0 3px !important;
  }
  .MuiCollapse-wrapperInner {
    width: 100%;
    padding-left: 10px !important;
}

.MuiMenuItem-root{
  min-height: 10px !important;
  line-height: 2 !important;
  border-radius: 10px !important 
}

..MuiMenuItem-root:hover{
  background-color: #e0f3ff!important;
}